.product{
    margin-top: 5vh;
    font-size: 6.2vh;
    width: calc(100vw - 16.6613vh);
    display: flex;
    flex-direction:row;
    justify-content: center;
    gap: 3vw;   
}

@media screen and (orientation:portrait) and (max-width:820px){
    .product{
    font-size: 6vw;}
}

._3d_button,
._2d_button{
    position: relative;
    left: -1vw;
    top: 50%;
    transform: translateY(-20%);
    background-color: transparent;
    border: none;
    font-size: 8vh;
    color: #FFA45E;
  
}

@media screen and (orientation:portrait) and (max-width:820px){
    ._3d_button,
    ._2d_button{
    font-size: 6vw;}
}


._3d_2d {
    transition: opacity 0.5s ease; /* Плавный переход для opacity */
}

._3d_button, ._2d_button {
    transition: opacity 0.5s ease, transform 0.5s ease; /* Плавный переход для opacity и transform */
}

._3d_button {
    opacity: 0; /* Начальное состояние для 2D кнопки */
    transform: translateY(-10px); /* Начальное смещение */
    display: none; /* Скрываем кнопку по умолчанию */
}

.slide-container {
    position: relative;
    margin-left: 16.6613vh;
    overflow: hidden;
}

._3d_slade{
    display: flex;
    transition: transform 0.5s ease-in-out;
      
}

._2d_slade{
    display: flex;
    transition: transform 0.5s ease-in-out;
    display: none;
}
  
.slides{
    position: relative;
    width: 100vw;
    margin-top: 10vh;
    opacity: 1;
    transition: opacity 0.5s ease, transform 0.5s ease; 
    width: 100%;
}

.slides section.active {
    animation-duration: 1s;
    animation-name: _3d_2d;
    opacity: 1;
}


@keyframes _3d_2d {
    from {
        transform: translateX(-100%);
        opacity: 0;
      }
    
      to {
        transform: translateX(0);
        opacity: 1;
      }
}


.slides section.L {
    animation-duration: 1s;
    animation-name: _3d_2d_l;
    opacity: 1;
}


@keyframes _3d_2d_l {
    from {
        transform: translateX(0);
        opacity: 1;
      }
    
      to {
        transform: translateX(100%);
        opacity: 0;
      }
}

.product_discriprion{
    margin-top: 3vh;
    margin-bottom: 20vh;
    font-size: 5vh;
    display: flex;
    flex-direction:column;
    text-align: center;
    justify-content: center;
    align-items: center;  

}

@media screen and (orientation:portrait) and (max-width:820px){
    .slide-container {
        position: relative;
        margin-left: 0vh;
        overflow: hidden;
    }
    .product{
        width: auto; 
    }
    .product_discriprion{
        font-size: 4vw;
        margin-bottom: 10vh;
    }
}